@*
Descrição: Página de login
Data: 01/01/2020 - v.1.0
*@

@using Functions;

<!DOCTYPE html>

<html lang="pt-br">

<!-- Head -->
<head>
    <meta charset="utf-8" />
    <title>@Language.XmlLang(1, 1).Text</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700" />

    <!-- Styles -->
    @Styles.Render("~/system_css")
    @Styles.Render("~/login_css")

    <!-- Icon -->
    <link rel="shortcut icon" href="../assets/media/logos/favicon.ico" />
</head>

<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

    <div class="kt-grid kt-grid--ver kt-grid--root">

        <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v6 kt-login--signin" id="kt_login">

            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">

                <div class="kt-grid__item  kt-grid__item--order-tablet-and-mobile-2  kt-grid kt-grid--hor kt-login__aside">

                    <div class="kt-login__wrapper">

                        <div class="kt-login__container">

                            <div class="kt-login__body">

                                <div class="kt-login__logo">
                                    <a href="#">
                                        @*<img src="~/Assets/Clients/1/logo.png">*@
                                    </a>
                                </div>

                                <!-- Login -->
                                <div class="kt-login__signin">

                                    <div class="kt-login__form">

                                        <form class="kt-form" action="" id="kt-form-login">
                                            <div class="form-group ">
                                                <div class="kt-input-icon kt-input-icon--left">
                                                    <input class="form-control kt-margin-l-40 validate[required,minSize[3],maxSize[20]]" type="text" placeholder="@Language.XmlLang(29, 1).Text " name="user" id="user" maxlength="20">
                                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                        <span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                                    <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                    <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="kt-input-icon kt-input-icon--left">
                                                    <input class="form-control kt-margin-l-40 form-control-last validate[required,minSize[6],maxSize[20]]" type="password" placeholder="@Language.XmlLang(30, 1).Text" name="password" id="password" maxlength="20">
                                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                        <span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <mask fill="white">
                                                                        <use xlink:href="#path-1" />
                                                                    </mask>
                                                                    <g />
                                                                    <path d="M7,10 L7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 L17,10 L18,10 C19.1045695,10 20,10.8954305 20,12 L20,18 C20,19.1045695 19.1045695,20 18,20 L6,20 C4.8954305,20 4,19.1045695 4,18 L4,12 C4,10.8954305 4.8954305,10 6,10 L7,10 Z M12,5 C10.3431458,5 9,6.34314575 9,8 L9,10 L15,10 L15,8 C15,6.34314575 13.6568542,5 12,5 Z" fill="#000000" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="kt-login__extra">
                                                <label class="kt-checkbox">
                                                    <input type="checkbox" value="1" id="remember" name="remember"> @Language.XmlLang(36, 2).Text
                                                    <span></span>
                                                </label>
                                                <a href="javascript:;" id="kt_login_forgot">@Language.XmlLang(37, 2).Text ?</a>
                                            </div>
                                            <div class="kt-login__actions">
                                                <button id="kt_login_submit" type="button" class="btn btn-brand btn-pill btn-elevate">@Language.XmlLang(38, 1).Text</button>
                                            </div>
                                        </form>

                                    </div>

                                </div>

                                <!-- Recuperar senha -->
                                <div class="kt-login__forgot">
                                    <div class="kt-login__head">
                                        <h3 class="kt-login__title">@Language.XmlLang(37, 2).Text ?</h3>
                                        <div class="kt-login__desc">@Language.XmlLang(40, 2).Text</div>
                                    </div>
                                    <div class="kt-login__form">

                                        <form class="kt-form" action="" id="kt-form-recover">
                                            <div class="form-group ">
                                                <div class="kt-input-icon kt-input-icon--left">
                                                    <input class="form-control kt-margin-l-40 validate[required,minSize[6],maxSize[100],email]" type="text" placeholder="@Language.XmlLang(31, 1).Text " name="email" id="email" maxlength="100">
                                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                        <span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <rect x="0" y="0" width="24" height="24" />
                                                                    <path d="M11.575,21.2 C6.175,21.2 2.85,17.4 2.85,12.575 C2.85,6.875 7.375,3.05 12.525,3.05 C17.45,3.05 21.125,6.075 21.125,10.85 C21.125,15.2 18.825,16.925 16.525,16.925 C15.4,16.925 14.475,16.4 14.075,15.65 C13.3,16.4 12.125,16.875 11,16.875 C8.25,16.875 6.85,14.925 6.85,12.575 C6.85,9.55 9.05,7.1 12.275,7.1 C13.2,7.1 13.95,7.35 14.525,7.775 L14.625,7.35 L17,7.35 L15.825,12.85 C15.6,13.95 15.85,14.825 16.925,14.825 C18.25,14.825 19.025,13.725 19.025,10.8 C19.025,6.9 15.95,5.075 12.5,5.075 C8.625,5.075 5.05,7.75 5.05,12.575 C5.05,16.525 7.575,19.1 11.575,19.1 C13.075,19.1 14.625,18.775 15.975,18.075 L16.8,20.1 C15.25,20.8 13.2,21.2 11.575,21.2 Z M11.4,14.525 C12.05,14.525 12.7,14.35 13.225,13.825 L14.025,10.125 C13.575,9.65 12.925,9.425 12.3,9.425 C10.65,9.425 9.45,10.7 9.45,12.375 C9.45,13.675 10.075,14.525 11.4,14.525 Z" fill="#000000" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="kt-login__actions">
                                                <button id="kt_login_forgot_submit" type="button" class="btn btn-brand btn-pill btn-elevate">@Language.XmlLang(41, 2).Text</button>
                                                <button id="kt_login_forgot_cancel" type="button" class="btn btn-outline-brand btn-pill">@Language.XmlLang(42, 2).Text</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="kt-login__account">
                            <a href="http://www.gernet.com.br" target="_blank" data-toggle="kt-tooltip" title="@Language.XmlLang(45, 2).Text www.gernet.com.br" data-placement="top">
                                <img src="~/Assets/Media/logos/gernet.png" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="kt-grid__item kt-grid__item--fluid kt-grid__item--center kt-grid kt-grid--ver kt-login__content" style="background-image: url(assets/media/bg/bg-5.jpg);">
                    <div class="kt-login__section">
                        <div class="kt-login__block">
                            @*<h3 class="kt-login__title">@Language.XmlLang(44, 1).Text</h3>
                            <div class="kt-login__desc">@Language.XmlLang(43, 1).Text</div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

<!-- Scripts -->
@Scripts.Render("~/system_scripts")
@Scripts.Render("~/system_login")