@*
Descrição: Página para alteração de senha
Data: 01/01/2020 - v.1.0
*@

@using Functions;

<!DOCTYPE html>

<html lang="pt-br">

<!-- Head -->
<head>
    <meta charset="utf-8" />
    <title>@Language.XmlLang(1, 1).Text</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700" />

    <!-- Styles -->
    @Styles.Render("~/system_css")
    @Styles.Render("~/login_css")

    <!-- Icon -->
    <link rel="shortcut icon" href="../assets/media/logos/favicon.ico" />
</head>

<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

    <div class="kt-grid kt-grid--ver kt-grid--root">

        <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v6 kt-login--password" id="kt_password">

            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">

                <div class="kt-grid__item  kt-grid__item--order-tablet-and-mobile-2  kt-grid kt-grid--hor kt-login__aside">

                    <div class="kt-login__wrapper">

                        <div class="kt-login__container">

                            <div class="kt-login__body">

                                <div class="kt-login__logo">
                                    <a href="#">
                                        @*<img src="~/Assets/Clients/@Session["idgernet"]/logo.png">*@
                                    </a>
                                </div>

                                <!-- Login -->
                                <div class="kt-login__signin">

                                    <div class="kt-login__form">

                                        <h2>@Session["nome"]</h2>
                                        <h5 class="text-black-50">@Language.XmlLang(54, 2).Text</h5>
                                        <br />
                                        <form class="kt-form" action="" id="kt-form-password">
                                            <div class="form-group ">
                                                <label for="password_atual">@Language.XmlLang(55, 1).Text</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <mask fill="white">
                                                                        <use xlink:href="#path-1" />
                                                                    </mask>
                                                                    <g />
                                                                    <path d="M7,10 L7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 L17,10 L18,10 C19.1045695,10 20,10.8954305 20,12 L20,18 C20,19.1045695 19.1045695,20 18,20 L6,20 C4.8954305,20 4,19.1045695 4,18 L4,12 C4,10.8954305 4.8954305,10 6,10 L7,10 Z M12,5 C10.3431458,5 9,6.34314575 9,8 L9,10 L15,10 L15,8 C15,6.34314575 13.6568542,5 12,5 Z" fill="#000000" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <input class="form-control kt-margin-l-40 validate[required,minSize[8],maxSize[20]]" type="password" placeholder="" name="password_atual" id="password_atual" maxlength="20">
                                                </div>
                                            </div>

                                            <div class="form-group kt-margin-t-15">
                                                <label for="password_novo">@Language.XmlLang(56, 1).Text</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <mask fill="white">
                                                                        <use xlink:href="#path-1" />
                                                                    </mask>
                                                                    <g />
                                                                    <path d="M7,10 L7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 L17,10 L18,10 C19.1045695,10 20,10.8954305 20,12 L20,18 C20,19.1045695 19.1045695,20 18,20 L6,20 C4.8954305,20 4,19.1045695 4,18 L4,12 C4,10.8954305 4.8954305,10 6,10 L7,10 Z M12,5 C10.3431458,5 9,6.34314575 9,8 L9,10 L15,10 L15,8 C15,6.34314575 13.6568542,5 12,5 Z" fill="#000000" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <input class="form-control kt-margin-l-40 validate[required,minSize[8],maxSize[20]]" type="password" placeholder="" name="password_novo" id="password_novo" maxlength="20">
                                                </div>
                                            </div>

                                            <div class="form-group kt-margin-t-15">
                                                <label for="password_confirmacao">@Language.XmlLang(57, 1).Text</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <mask fill="white">
                                                                        <use xlink:href="#path-1" />
                                                                    </mask>
                                                                    <g />
                                                                    <path d="M7,10 L7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 L17,10 L18,10 C19.1045695,10 20,10.8954305 20,12 L20,18 C20,19.1045695 19.1045695,20 18,20 L6,20 C4.8954305,20 4,19.1045695 4,18 L4,12 C4,10.8954305 4.8954305,10 6,10 L7,10 Z M12,5 C10.3431458,5 9,6.34314575 9,8 L9,10 L15,10 L15,8 C15,6.34314575 13.6568542,5 12,5 Z" fill="#000000" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <input class="form-control kt-margin-l-40 validate[required,minSize[8],maxSize[20],equals[password_novo]]" type="password" placeholder="" name="password_confirmacao" id="password_confirmacao" maxlength="20">
                                                </div>
                                            </div>

                                            <div class="kt-login__actions">
                                                <button id="kt_password_submit" type="button" class="btn btn-brand btn-pill btn-elevate">@Language.XmlLang(17, 1).Text</button>
                                            </div>
                                        </form>

                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="kt-login__account">
                            <a href="http://www.gernet.com.br" target="_blank" data-toggle="kt-tooltip" title="@Language.XmlLang(45, 2).Text www.gernet.com.br" data-placement="top">
                                <img src="~/Assets/Media/logos/gernet.png" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="kt-grid__item kt-grid__item--fluid kt-grid__item--center kt-grid kt-grid--ver kt-login__content" style="background-image: url(/assets/media/bg/bg-5.jpg);">
                    <div class="kt-login__section">
                        <div class="kt-login__block">
                            <h3 class="kt-login__title">@Language.XmlLang(66, 1).Text</h3>
                            <div class="kt-login__desc">
                                - @Language.XmlLang(65, 2).Text.<br>
                                - @Language.XmlLang(58, 2).Text.<br>
                                - @Language.XmlLang(59, 2).Text.<br>
                                - @Language.XmlLang(60, 2).Text.<br>
                                - @Language.XmlLang(64, 2).Text.<br>
                                - @Language.XmlLang(61, 2).Text.<br>
                                - @Language.XmlLang(62, 2).Text.<br>
                                - @Language.XmlLang(63, 2).Text.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

<!-- Scripts -->
@Scripts.Render("~/system_scripts")
@Scripts.Render("~/system_login")