@*
    Descrição: Cadastro de tabelas do sistema
    Data: 01/01/2021 - v.1.0
*@

@* Controles do aplicativo *@
@model Sistema.Models.TabelasView

@* Funções *@
@using Functions;

@* Inputs *@
@{ Inputs inp = new Inputs(); }


<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        @{
            // Verifica se esta editando algum registro
            if (Model.tabela.idtabela.value > 0)
            {
                inp.inputType = "text";
                inp.label = Language.XmlLang(138, 2).Text;
                inp.id = "frm_tabela";
                inp.className = "form-control bg-readonly";
                inp.required = true;
                inp.validation = "required,minsize=2,maxsize=200";
                inp.readOnly = true;
                inp.inputValue = Model.tabela.txtabela.value;
                @Html.Raw(inp.CreateInput());
            }
            else
            {
                // Verifica se existe alguma tabela que não foi cadastrada
                if (Model.tabelaN.Count > 0)
                {

                    inp.inputType = "select";
                    inp.label = Language.XmlLang(138, 2).Text;
                    inp.id = "frm_tabela";
                    inp.className = "form-control";
                    inp.required = true;
                    inp.validation = "required";
                    inp.options = Model.tabelaN;
                    inp.firstOption = Language.XmlLang(146, 2).Text;
                    inp.inputValue = Model.tabela.txtabela.value;
                    @Html.Raw(inp.CreateInput());
                }
                else
                {
                    inp.inputType = "text";
                    inp.label = Language.XmlLang(138, 2).Text;
                    inp.id = "frm_tabela";
                    inp.className = "form-control";
                    inp.required = true;
                    inp.validation = "required,minsize=2,maxsize=200";
                    inp.readOnly = true;
                    inp.inputValue = "";
                    inp.placeholder = Language.XmlLang(202, 2).Text;
                    @Html.Raw(inp.CreateInput());
                }
            }
        }
    </div>
</div>
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        @{
            // Código do idioma
            inp.inputType = "text";
            inp.label = Language.XmlLang(139, 2).Text;
            inp.id = "frm_codigo_idioma";
            inp.className = "form-control";
            inp.required = true;
            inp.validation = "required,numbers,minsize=1,maxsize=5";
            inp.inputValue = Convert.ToString(Model.tabela.idcodigoidioma.value);
            inp.maxLenght = 10;
            inp.mask = "00000";
            inp.blur = "loadTextLanguage(this.value)";
            @Html.Raw(inp.CreateInput());
        }
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="form-group">
            <label for="texto_idioma">@Language.XmlLang(140, 2).Text</label>
            <h4 id="texto_idioma" class="ft-red pt-3">@Language.XmlLang(Convert.ToInt32(Model.tabela.idcodigoidioma.value), 2).Text</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        @{
            // Possui auditoria
            inp.inputType = "switch";
            inp.label = Language.XmlLang(141, 2).Text;
            inp.id = "frm_auditoria";
            inp.inputChecked = (Model.tabela.flauditoria.value == 1 ? true : false);
            @Html.Raw(inp.CreateInput());
        }
    </div>
</div>
           


<script src="~/Assets/Js/Apps/Master/Tabelas/incluir.js"></script>