@using Functions;

<ul class="kt-sticky-toolbar">
    @*<li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--dark" data-toggle="kt-tooltip" title="" data-placement="left" data-original-title="@Language.XmlLang(24, 1).Text" id="btn_ger_new">
        <a href="#"><i class="la la-file"></i></a>
    </li>
    <li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--info" data-toggle="kt-tooltip" title="" data-placement="left" data-original-title="@Language.XmlLang(147, 1).Text" id="btn_ger_edit">
        <a href="#"><i class="la la-edit"></i></a>
    </li>
    <li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--danger" data-toggle="kt-tooltip" title="" data-placement="left" data-original-title="@Language.XmlLang(148, 1).Text" id="btn_ger_delete">
        <a href="#"><i class="la la-trash"></i></a>
    </li>
    <li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--alert" data-toggle="kt-tooltip" title="" data-placement="left" data-original-title="@Language.XmlLang(149, 1).Text" id="btn_ger_search">
        <a href="#"><i class="la la-search"></i></a>
    </li>*@
    <li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--success" data-toggle="kt-tooltip" title="" data-placement="right" data-original-title="@Language.XmlLang(151, 1).Text" id="btn_ger_save">
        <a href="#"><i class="la la-save"></i></a>
    </li>
    <li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--warning" data-toggle="kt-tooltip" title="" data-placement="left" data-original-title="@Language.XmlLang(152, 1).Text" id="btn_ger_cancel">
        <a href="#"><i class="la la-times-circle"></i></a>
    </li>
    @*<li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--brown" data-toggle="kt-tooltip" title="" data-placement="left" data-original-title="@Language.XmlLang(150, 1).Text" id="btn_ger_print">
        <a href="#"><i class="la la-print"></i></a>
    </li>*@
</ul>