@*
    Descrição: Página que carrega a aplicação
    Data: 01/01/2021 - v.1.0
*@

@* Controles do aplicativo *@
@model Sistema.Models.PartialsView_AppView

@* Funções *@
@using Functions;

@* Verifica se é dashboard *@
@if (Model.action == "Dashboard")
{
    @* Carrega html da página *@
    <div class="page-element-responsive" pos="1">
        @Html.Action(Model.action, Model.controller)
    </div>

    @* Subheader *@
    <div class="page-element-responsive" pos="2">
    @RenderPage("~/Views/Partials/SubHeader.cshtml")
    </div>
}
else
{

    @* Painel que carrega a tela de localização *@
    <div id="panel_search"></div>

    @* Carrega html da página *@
    <div class="page-element-responsive" pos="1">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt_content_app_gernet" id="kt_content">
            <div class="kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                <div class="row form-elements">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <div class="kt-portlet">
                            <div class="kt-portlet__body">
                                <form action="" method="post" id="kt_form_app_gernet">
                                    @Html.Action(Model.action, Model.controller, new { register = Model.register })
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Atualiza identificador principal *@
    if (HttpContext.Current.Session["ident_code"].ToString() != "")
    {
        Model.id = Convert.ToInt32(HttpContext.Current.Session["ident_code"]);
    }

    <div class="page-element-responsive" pos="2">
        @* Subheader *@
        @RenderPage("~/Views/Partials/SubHeaderApp.cshtml")

        @* Botões de ação *@
        @RenderPage("~/Views/Partials/ActionButtons.cshtml")
    </div>
}

@* Armazena variaveis para controle *@
<form method="post" id="app_form_control">
    <input type="hidden" id="app_temp_controller" name="app_temp_controller" value="@Model.controller" />
    <input type="hidden" id="app_temp_action" name="app_temp_action" value="@Model.action" />
    <input type="hidden" id="app_temp_id" name="app_temp_id" value="@Model.id" />
    <input type="hidden" id="app_temp_id2" name="app_temp_id2" value="@Model.id2" />
</form>

@* Verifica se é dashboard e carrega script de controle dos widgets *@
@if (Model.action == "Dashboard")
{
    <script>$('.grid-stack').gridstack();</script>
}
else
{
    @Scripts.Render("~/system_apps")
}