@*
    Descrição: Lista os usuários do chat
    Data: 01/01/2020 - v.1.0
*@

@model Sistema.Models.PartialsView_ChatPanelList

@using Functions;

@{
    int online = 0;
    int offline = 0;
    string txt_online = "";
    string txt_offline = "";

    // Loop nos usuários
    foreach (var u in Model.usuarios)
    {
        // Verifica se está online e com status diferente de invisível
        if ((Utils.Session(u.idsession)) && (u.flstatuschat != 3))
        {

            txt_online += "<div class='kt-notification-v2'>";
            txt_online += "    <a href='#' class='kt-notification-v2__item'>";
            txt_online += "        <div class='kt-notification-v2__item-icon'>";
            txt_online += "            <img class='chat-img' src='" + Utils.Avatar(u.txfoto) + "'>";
            txt_online += "        </div>";
            txt_online += "        <div class='kt-notification-v2__itek-wrapper'>";
            txt_online += "            <div class='kt-notification-v2__item-title'>";

            // Status
            switch (u.flstatuschat)
            {
                case 1: txt_online += "<i class='fa fa-circle btn-font-success'></i>&nbsp;"; break;
                case 4: txt_online += "<i class='fa fa-circle btn-font-warning'></i>&nbsp;"; break;
            }

            txt_online += u.txnome + "</div>";
            txt_online += "            <div class='kt-notification-v2__item-desc'>" + u.ultima + "</div>";
            txt_online += "        </div>";
            txt_online += "    </a>";
            txt_online += "</div>";
            online++;
        }
        else
        {
            txt_offline += "<div class='kt-notification-v2'>";
            txt_offline += "    <a href='#' class='kt-notification-v2__item'>";
            txt_offline += "        <div class='kt-notification-v2__item-icon'>";
            txt_offline += "            <span class='kt-badge kt-badge--danger kt-badge--dot kt-badge--xl'></span>";
            txt_offline += "            <img class='chat-img' src='" + Utils.Avatar(u.txfoto) + "'>";
            txt_offline += "        </div>";
            txt_offline += "        <div class='kt-notification-v2__itek-wrapper'>";
            txt_offline += "            <div class='kt-notification-v2__item-title'>" + u.txnome + "</div>";
            txt_offline += "            <div class='kt-notification-v2__item-desc'>" + u.ultima + "</div>";
            txt_offline += "        </div>";
            txt_offline += "    </a>";
            txt_offline += "</div>";
            offline++;
        }

    }
}

<div class="kt-notification-v2 kt-notification-item-padding-x kt-align-center kt-padding-8 bg-light-blue pointer" id="chat-button-online">
    @Language.XmlLang(108, 1).Text (@online)
</div>
<div id="chat-div-online" class="@(Model.flonline == 0 ? "kt-hidden" : "")">@Html.Raw(txt_online)</div>

<div class="kt-notification-v2 kt-notification-item-padding-x kt-align-center kt-padding-8 bg-light-blue kt-margin-t-15 pointer" id="chat-button-offline">
    @Language.XmlLang(109, 1).Text (@offline)
</div>
<div id="chat-div-offline" class="@(Model.floffline == 0 ? "kt-hidden" : "")">@Html.Raw(txt_offline)</div>
