@*
    Descrição: Tela de listagem de usuários e configurações
    Data: 01/01/2021 - v.1.0
*@

@model Sistema.Models.PartialsView_ChatPanel

@using Functions;

<div id="kt_quick_panel" class="kt-quick-panel">

    <!-- Status do chat -->
    <a href="#" class="kt-quick-panel__status" id="kt_quick_panel_status_btn">
        @switch (Model.usuarios_sistema.flstatuschat.value)
        {
            case 1:@Html.Raw("<i class='fa fa-circle btn-font-success'></i>&nbsp;" + Language.XmlLang(108, 2).Text); break;
            case 2: @Html.Raw("<i class='fa fa-circle btn-font-danger'></i>&nbsp;" + Language.XmlLang(109, 2).Text); break;
            case 3: @Html.Raw("<i class='fa fa-circle btn-font-brand'></i>&nbsp;" + Language.XmlLang(113, 2).Text); break;
            case 4: @Html.Raw("<i class='fa fa-circle btn-font-warning'></i>&nbsp;" + Language.XmlLang(114, 2).Text); break;
        }
    </a>

    <!-- Fechar chat -->
    <a href="#" class="kt-quick-panel__close" id="kt_quick_panel_close_btn"><i class="flaticon2-delete"></i></a>

    <!-- Título das tabs -->
    <div class="kt-quick-panel__nav">
        <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand  kt-notification-item-padding-x" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#kt_quick_panel_tab_logs" role="tab">@Language.XmlLang(105, 2).Text</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_quick_panel_tab_settings" role="tab">@Language.XmlLang(106, 2).Text</a>
            </li>
        </ul>
    </div>

    <!-- Tabs -->
    <div class="kt-quick-panel__content">
        <div class="tab-content">

            <!-- Tab: Lista de usuário -->
            <div class="tab-pane fade show kt-scroll active" id="kt_quick_panel_tab_logs" role="tabpanel">
                <div class="kt-notification-v2 kt-padding-chat-search">
                    <input type="text" class="form-control" id="chat-search" aria-describedby="" placeholder="@Language.XmlLang(107, 2).Text">
                </div>
                <div id="chat-list-users"></div>
            </div>

            <!-- Tab: Configurações -->
            <div class="tab-pane kt-quick-panel__content-padding-x fade kt-scroll" id="kt_quick_panel_tab_settings" role="tabpanel">
                <form class="kt-form">

                    <!-- Status -->
                    <div class="kt-heading kt-heading--sm kt-heading--space-sm">@Language.XmlLang(112, 2).Text</div>
                    <div class="form-group form-group-xs row">
                        <div class="kt-radio-list kt-margin-l-10">
                            <label class="kt-radio kt-radio--solid kt-radio--success">
                                <input type="radio" value="1" @(Model.usuarios_sistema.flstatuschat.value == 1 ? "checked" : "") name="flstatuschat" id="flstatuschat"> @Language.XmlLang(108, 2).Text
                                <span></span>
                            </label>
                            <label class="kt-radio kt-radio--solid kt-radio--danger">
                                <input type="radio" value="2" @(Model.usuarios_sistema.flstatuschat.value == 2 ? "checked" : "") name="flstatuschat" id="flstatuschat"> @Language.XmlLang(109, 2).Text
                                <span></span>
                            </label>
                            <label class="kt-radio kt-radio--solid kt-radio--brand">
                                <input type="radio" value="3" @(Model.usuarios_sistema.flstatuschat.value == 3 ? "checked" : "") name="flstatuschat" id="flstatuschat"> @Language.XmlLang(113, 2).Text
                                <span></span>
                            </label>
                            <label class="kt-radio kt-radio--solid kt-radio--warning">
                                <input type="radio" value="4" @(Model.usuarios_sistema.flstatuschat.value == 4 ? "checked" : "") name="flstatuschat" id="flstatuschat"> @Language.XmlLang(114, 2).Text
                                <span></span>
                            </label>
                        </div>
                    </div>

                    <!-- Privacidade -->
                    <div class="kt-heading kt-heading--sm kt-heading--space-sm">@Language.XmlLang(115, 2).Text</div>
                    <div class="form-group form-group-xs row">
                        <div class="col-8"><label class="col-form-label">@Language.XmlLang(110, 2).Text</label></div>
                        <div class="col-4 kt-align-right">
                            <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--primary">
                                <label>
                                    <input type="checkbox" @(Model.usuarios_sistema.flprivacidade.value == 1 ? "checked" : "") name="flprivacy" id="flprivacy">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                        <div class="col-8 kt-font-md">@Language.XmlLang(126, 2).Text</div>
                    </div>

                    <!-- Mensagens -->
                    <div class="kt-heading kt-heading--sm kt-heading--space-sm">@Language.XmlLang(116, 2).Text</div>
                    <div class="form-group form-group-xs row">
                        <div class="col-8"><label class="col-form-label">@Language.XmlLang(111, 2).Text</label></div>
                        <div class="col-4 kt-align-right">
                            <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--primary">
                                <label>
                                    <input type="checkbox" @(Model.usuarios_sistema.flmsgconfig.value == 1 ? "checked" : "") name="flmsgconfig" id="flmsgconfig">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


