@*
    Descrição: Tela de controle do chat
    Data: 01/01/2020 - v.1.0
*@

@model Sistema.Models.PartialsView_ChatList

@using Functions;

@{
    int online = 0;
    int offline = 0;
    string txt_online = "";
    string txt_offline = "";


    foreach (var u in Model.usuarios)
    {
        if (Utils.Session(u.idsession))
        {
            txt_online += "<div class='kt-notification-v2'>";
            txt_online += "    <a href='#' class='kt-notification-v2__item'>";
            txt_online += "        <div class='kt-notification-v2__item-icon'>";
            txt_online += "            <img class='chat-img' src='" + u.txfoto + "'>";
            txt_online += "        </div>";
            txt_online += "        <div class='kt-notification-v2__itek-wrapper'>";
            txt_online += "            <div class='kt-notification-v2__item-title'>" + u.txnome + "</div>";
            txt_online += "            <div class='kt-notification-v2__item-desc'>";
            txt_online += "                Reports based on sales";
            txt_online += "            </div>";
            txt_online += "        </div>";
            txt_online += "    </a>";
            txt_online += "</div>";
            online++;
        }
        else
        {
            txt_offline += "<div class='kt-notification-v2'>";
            txt_offline += "    <a href='#' class='kt-notification-v2__item'>";
            txt_offline += "        <div class='kt-notification-v2__item-icon'>";
            txt_offline += "            <img class='chat-img' src='" + u.txfoto + "'>";
            txt_offline += "        </div>";
            txt_offline += "        <div class='kt-notification-v2__itek-wrapper'>";
            txt_offline += "            <div class='kt-notification-v2__item-title'>" + u.txnome + "</div>";
            txt_offline += "            <div class='kt-notification-v2__item-desc'>";
            txt_offline += "                Reports based on sales";
            txt_offline += "            </div>";
            txt_offline += "        </div>";
            txt_offline += "    </a>";
            txt_offline += "</div>";
            offline++;
        }

    }

}

<div id="kt_quick_panel" class="kt-quick-panel">
    <a href="#" class="kt-quick-panel__close" id="kt_quick_panel_close_btn"><i class="flaticon2-delete"></i></a>
    <div class="kt-quick-panel__nav">
        <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand  kt-notification-item-padding-x" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#kt_quick_panel_tab_logs" role="tab">@Language.XmlLang(105, 2).Text</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_quick_panel_tab_settings" role="tab">@Language.XmlLang(106, 2).Text</a>
            </li>
        </ul>
    </div>
    <div class="kt-quick-panel__content">
        <div class="tab-content">

            <div class="tab-pane fade show kt-scroll active" id="kt_quick_panel_tab_logs" role="tabpanel">
                <div class="kt-notification-v2 kt-notification-item-padding-x">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="email" class="form-control" id="" aria-describedby="" placeholder="@Language.XmlLang(107, 2).Text">
                            <div class="input-group-append">
                                <button class="btn btn-brand btn-elevate btn-icon"><i class="flaticon2-magnifier-tool"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="kt-notification-v2 kt-notification-item-padding-x kt-align-center kt-padding-8 bg-light-blue">
                    @Language.XmlLang(108, 1).Text (@online)
                </div>
                @Html.Raw(txt_online)

                <div class="kt-notification-v2 kt-notification-item-padding-x kt-align-center kt-padding-8 bg-light-blue kt-margin-t-15">
                    @Language.XmlLang(109, 1).Text (@offline)
                </div>
                @Html.Raw(txt_offline)
            </div>

            <div class="tab-pane kt-quick-panel__content-padding-x fade kt-scroll" id="kt_quick_panel_tab_settings" role="tabpanel">
                <form class="kt-form">
                    <div class="kt-heading kt-heading--sm kt-heading--space-sm">@Language.XmlLang(112, 2).Text</div>
                    <div class="form-group form-group-xs row">
                        <div class="kt-radio-list kt-margin-l-10">
                            <label class="kt-radio kt-radio--solid kt-radio--success">
                                <input type="radio" checked="checked" name="radio7"> @Language.XmlLang(108, 2).Text
                                <span></span>
                            </label>
                            <label class="kt-radio kt-radio--solid kt-radio--danger">
                                <input type="radio" name="radio7"> @Language.XmlLang(109, 2).Text
                                <span></span>
                            </label>
                            <label class="kt-radio kt-radio--solid kt-radio--brand">
                                <input type="radio" name="radio7"> @Language.XmlLang(113, 2).Text
                                <span></span>
                            </label>
                            <label class="kt-radio kt-radio--solid kt-radio--warning">
                                <input type="radio" name="radio7"> @Language.XmlLang(114, 2).Text
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="kt-heading kt-heading--sm kt-heading--space-sm">@Language.XmlLang(115, 2).Text</div>
                    <div class="form-group form-group-xs row">
                        <label class="col-8 col-form-label">@Language.XmlLang(110, 2).Text</label>
                        <div class="col-4 kt-align-right">
                            <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--primary">
                                <label>
                                    <input type="checkbox" checked="checked" name="">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="kt-heading kt-heading--sm kt-heading--space-sm">@Language.XmlLang(116, 2).Text</div>
                    <div class="form-group form-group-xs row">
                        <label class="col-8 col-form-label">@Language.XmlLang(111, 2).Text</label>
                        <div class="col-4 kt-align-right">
                            <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--primary">
                                <label>
                                    <input type="checkbox" checked="checked" name="">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
