@*
    Descrição: Cabeçalho do sistema com as opções de pesquisa e botões de notificação
    Data: 01/01/2021 - v.1.0
*@

@* Funções *@
@using Functions;

<div id="kt_header" class="kt-header kt-grid__item kt-header--fixed">

    <div></div>

    <div class="kt-header__topbar">

        @* Busca no sistema *@
        @Html.Action("Search", "Partials")

        @* E-mails *@
        @Html.Action("Email", "Partials")

        @* Whatsapp *@
        @Html.Action("Whatsapp", "Partials")

        @* Notificações *@
        @Html.Action("Notifications", "Partials")

        @* Ações rápidas *@
        @Html.Action("QuickActions", "Partials")

        @* Chat *@
        @Html.Action("Chat", "Partials")

        @* Idiomas do sistema *@
        @Html.Action("Languages", "Partials")

        @* Menu do usuário *@
        @Html.Action("UserPanel", "Partials")

    </div>
</div>

