<div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">
    <div></div>
    <div class="kt-header__topbar">
        @Html.Action("Search", "Partials")
        @Html.Action("Notifications", "Partials")
        @Html.Action("QuickActions", "Partials")
        @Html.Action("QuickPanel", "Partials")
        @Html.Action("Languages", "Partials")
        @Html.Action("UserPanel", "Partials")
    </div>
</div>
