@*
    Descrição: Breadcrumb App
    Data: 01/01/2021 - v.1.0
*@

@model Sistema.Models.PartialsView_SubHeaderApp

@using Functions;

<div class="kt-subheader  kt-grid__item" id="kt_subheader">

    <div class="kt-container  kt-container--fluid ">

        <div class="kt-subheader__main">

            <!-- Dashboard -->
            <span class="kt-subheader__desc"><a href="javascript:UTILS.menu('/Home/Dashboard')">@Language.XmlLang(7, 2).Text</a></span>

            <!-- Loop nos aplicativos -->
            @{
                if (Model.app != "")
                {
                    string[] arr = Model.app.Replace("/Apps/", "").Split('/');
                    foreach (string a in arr)
                    {
                        <span class="separator-arrow">></span>
                        <span class="kt-subheader__desc"><a href="#">@a</a></span>
                    }
                }
            }

            <!-- Identificador de registro principal -->
            @{
                if (Model.id > 0)
                {
                    <span class="separator-arrow">></span>
                    <h3 class="kt-subheader__title">XXXXXXXXXXXXXXXXXXXXXXX</h3>
                }
                else
                {
                    <span class="separator-arrow">></span>
                    <h3 class="kt-subheader__title">@Language.XmlLang(24, 2).Text</h3>
                }
            }
        </div>

        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a href="#" class="btn kt-subheader__btn-primary btn-icon" data-toggle="kt-tooltip" title="" data-placement="bottom">
                    <i class="la la-angle-double-left"></i>
                </a>
                <a href="#" class="btn kt-subheader__btn-primary btn-icon" data-toggle="kt-tooltip" title="" data-placement="bottom">
                    <i class="la la-angle-left"></i>
                </a>
                <a href="#" class="btn kt-subheader__btn-primary btn-icon" data-toggle="kt-tooltip" title="" data-placement="bottom">
                    <i class="la la-angle-right"></i>
                </a>
                <a href="#" class="btn kt-subheader__btn-primary btn-icon" data-toggle="kt-tooltip" title="" data-placement="bottom" style="margin-right:40px;">
                    <i class="la la-angle-double-right"></i>
                </a>
                <a href="#" class="btn kt-subheader__btn-primary btn-icon" data-toggle="kt-tooltip" title="" data-placement="bottom">
                    <i class="la la-desktop"></i>
                </a>
                <a href="#" class="btn kt-subheader__btn-primary btn-icon" data-toggle="kt-tooltip" title="" data-placement="bottom">
                    <i class="la la-cog"></i>
                </a>
                <a href="#" class="btn kt-subheader__btn-primary btn-icon" data-toggle="kt-tooltip" title="" data-placement="bottom">
                    <i class="la la-info-circle"></i>
                </a>
                <a href="#" class="btn kt-subheader__btn-primary btn-icon" data-toggle="kt-tooltip" title="" data-placement="bottom">
                    <i class="la la-history"></i>
                </a>
                <a href="javascript:UTILS.menu('@Model.app')" class="btn kt-subheader__btn-primary btn-icon" data-toggle="kt-tooltip" title="@Language.XmlLang(136, 2).Text" data-placement="bottom">
                    <i class="la la-refresh"></i>
                </a>
            </div>
        </div>
    </div>
</div>
